# Web3事業関連のリダイレクト
RewriteEngine On

# web3関連のアクセスをホームページにリダイレクト
RewriteRule ^web3/?$ / [R=301,L]
RewriteRule ^web3/.*$ / [R=301,L]

# 404エラーページ設定
ErrorDocument 404 /index.html

# キャッシュ設定
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType text/html "access plus 1 hour"
    ExpiresByType text/css "access plus 1 month"
    ExpiresByType application/javascript "access plus 1 month"
    ExpiresByType image/png "access plus 1 month"
    ExpiresByType image/jpg "access plus 1 month"
    ExpiresByType image/jpeg "access plus 1 month"
    ExpiresByType image/gif "access plus 1 month"
</IfModule>